
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/windows/assets
build/windows/proj/cocos2d.dir
build/windows/proj/template.dir
build/windows/proj/win32
build/windows/proj/Release/Resources
profiles/
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

windows/Resources

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/
#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
build/windows/proj/Debug/
build/windows/proj/.vs/
build/windows/proj/cocos2d.vcxproj.user
build/windows/proj/template.vcxproj.user
update_assets/
build/
